
img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
	max-height: 90%;
}
h2{
	color: rgb(121,29,30);
}
h3{
	color: rgb(121,29,30);
}
h1{
  font-size: 80px;
  font-family: tahoma;
  text-align: center;
}
body{
  margin: 0px;
}
#navbar{
	text-align: right;
	margin: auto;
	color: gray;
	background-color: black;
}
nav a
{
	color:white;
}
#navbar a:hover{
	transition: 0.15s;
	color: black;
	background-color: white;
	text-decoration: none;
}
li {
	float: right;
}
.row
{
	margin: auto;
}